<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Vista Previa Editable del Documento LaTeX</title>
</head>

<body>
    <h1>Vista Previa Editable del Documento LaTeX</h1>
    <form method="POST" action="{{ url_for('convert_pdf') }}">
        <label for="response_latex">Edita el documento si es necesario:</label><br>
        <textarea id="response_latex" name="response_latex" rows="20" cols="100">{{ response_latex }}</textarea><br><br>
        <button type="submit">Convertir a PDF</button>
    </form>
</body>

</html>